Repository starlingx-github/snmp-armada-app: changes, and which Zuul jobs are due for each by the changed paths.
All: k8app-snmp-armada-tox-py39, k8sapp-snmp-tox-pylint

k8app-snmp-armada-tox-py39:
  parent: tox-py39
  description: 'Run py39 test for k8app-snmp-armada-app
  
    '
  nodeset: debian-bullseye
  required-projects:
  - starlingx/config
  - starlingx/fault
  - starlingx/update
  - starlingx/utilities
  vars:
    tox_envlist: py39
    python_version: 3.9
  ...

k8sapp-snmp-tox-pylint:
  parent: tox
  description: 'Run pylint test for k8sapp_snmp
  
    '
  nodeset: ubuntu-bionic
  required-projects:
  - starlingx/config
  - starlingx/fault
  - starlingx/update
  - starlingx/utilities
  vars:
    tox_envlist: pylint
    tox_extra_args: -c python3-k8sapp-snmp/k8sapp_snmp/tox.ini

Update Debian base image to version 11
  stx-snmp-helm/docker/stx-fm-subagent/Dockerfile.debian
  stx-snmp-helm/docker/stx-fm-trap-subagent/Dockerfile.debian
  stx-snmp-helm/docker/stx-snmp/Dockerfile.debian
Due: none

Remove --use-deprecated legacy-resolver flag
  python3-k8sapp-snmp/k8sapp_snmp/requirements.txt
  python3-k8sapp-snmp/k8sapp_snmp/test-requirements.txt
  python3-k8sapp-snmp/k8sapp_snmp/tox.ini
Due: k8app-snmp-armada-tox-py39, k8sapp-snmp-tox-pylint

Update .gitreview for f/antelope
  .gitreview
Due: none

Add missing fields for Event traps
  stx-snmp-helm/docker/stx-fm-trap-subagent/src/wrsAlarmMIBTrap.c
Due: none

Update stx-fm-trap-subagent tag to stx.9.0-v1.0.2
  stx-snmp-helm/stx-snmp-helm/helm-charts/snmp/values.yaml
Due: none

Use FQDN for MGMT network
  python3-k8sapp-snmp/k8sapp_snmp/k8sapp_snmp/helm/snmp.py
Due: k8app-snmp-armada-tox-py39, k8sapp-snmp-tox-pylint

Update app Zuul Check Jobs.
  .gitignore
  .zuul.yaml
  python3-k8sapp-snmp/k8sapp_snmp/k8sapp_snmp/helm/snmp.py
  python3-k8sapp-snmp/k8sapp_snmp/k8sapp_snmp/tests/test_snmp.py
  python3-k8sapp-snmp/k8sapp_snmp/pylint.rc
  python3-k8sapp-snmp/k8sapp_snmp/requirements.txt
  python3-k8sapp-snmp/k8sapp_snmp/test-requirements.txt
  python3-k8sapp-snmp/k8sapp_snmp/tox.ini
  stx-snmp-helm/debian/deb_folder/rules
  stx-snmp-helm/stx-snmp-helm/files/metadata.yaml
  test-requirements.txt
  tox.ini
Due: k8app-snmp-armada-tox-py39, k8sapp-snmp-tox-pylint

Application versioning based on build release
  python3-k8sapp-snmp/debian/deb_folder/control
  python3-k8sapp-snmp/debian/deb_folder/rules
  stx-snmp-helm/debian/deb_folder/control
  stx-snmp-helm/debian/deb_folder/rules
Due: k8sapp-snmp-tox-pylint

Update .gitreview for f/kernel-6.6
  .gitreview
Due: none

Add minimum Kubernetes version supported
  .zuul.yaml
  stx-snmp-helm/stx-snmp-helm/files/metadata.yaml
Due: none

Auto-increment chart versions
  debian_pkg_dirs
  helm-charts/custom/snmp-helm/debian/deb_folder/changelog
  helm-charts/custom/snmp-helm/debian/deb_folder/control
  helm-charts/custom/snmp-helm/debian/deb_folder/copyright
  helm-charts/custom/snmp-helm/debian/deb_folder/rules
  helm-charts/custom/snmp-helm/debian/deb_folder/snmp-helm.install
  helm-charts/custom/snmp-helm/debian/deb_folder/source/format
  helm-charts/custom/snmp-helm/debian/meta_data.yaml
  helm-charts/custom/snmp-helm/snmp-helm/Makefile
  helm-charts/custom/snmp-helm/snmp-helm/snmp/.helmignore
  helm-charts/custom/snmp-helm/snmp-helm/snmp/Chart.yaml
  helm-charts/custom/snmp-helm/snmp-helm/snmp/snmpd/snmpd.conf
  helm-charts/custom/snmp-helm/snmp-helm/snmp/templates/NOTES.txt
  helm-charts/custom/snmp-helm/snmp-helm/snmp/templates/_helpers.tpl
  helm-charts/custom/snmp-helm/snmp-helm/snmp/templates/configmap.yaml
  helm-charts/custom/snmp-helm/snmp-helm/snmp/templates/deployment.yaml
  helm-charts/custom/snmp-helm/snmp-helm/snmp/templates/service.yaml
  helm-charts/custom/snmp-helm/snmp-helm/snmp/values.yaml
  stx-snmp-helm/debian/deb_folder/changelog
  stx-snmp-helm/debian/deb_folder/rules
  stx-snmp-helm/debian/meta_data.yaml
  stx-snmp-helm/stx-snmp-helm/fluxcd-manifests/snmp/helmrelease.yaml
Due: none

Update .gitreview for f/bookworm
  .gitreview
Due: none

Update .gitreview for r/stx.9.0
  .gitreview
Due: none

Fix app metadata mispelling
  stx-snmp-helm/stx-snmp-helm/files/metadata.yaml
Due: none

Update helm/fluxcd api version.
  stx-snmp-helm/stx-snmp-helm/fluxcd-manifests/base/helmrepository.yaml
  stx-snmp-helm/stx-snmp-helm/fluxcd-manifests/snmp/helmrelease.yaml
Due: none

Activate fails: Snmp application fail when trying to update during USM upgrade.
  helm-charts/custom/snmp-helm/snmp-helm/Makefile
Due: none

Fix SNMP configmap libsnmpAuditPlugin
  helm-charts/custom/snmp-helm/snmp-helm/snmp/snmpd/snmpd.conf
  stx-snmp-helm/docker/stx-snmp/src/Makefile
Due: none

Rename Helm repository to avoid naming collision
  stx-snmp-helm/stx-snmp-helm/fluxcd-manifests/base/helmrepository.yaml
  stx-snmp-helm/stx-snmp-helm/fluxcd-manifests/snmp/helmrelease.yaml
Due: none

Update stx-snmp tag to use stx.10.0-v1.0.2
  helm-charts/custom/snmp-helm/snmp-helm/snmp/values.yaml
Due: none

Update .gitreview for f/caracal
  .gitreview
Due: none

Update .gitreview for r/stx.10.0
  .gitreview
Due: none

Update references to appframework lifecycle constants.
  python3-k8sapp-snmp/k8sapp_snmp/k8sapp_snmp/lifecycle/lifecycle_snmp.py
Due: k8app-snmp-armada-tox-py39, k8sapp-snmp-tox-pylint

Update .gitreview for f/trixie
  .gitreview
Due: none

Update .gitreview for f/portable-dc
  .gitreview
Due: none

Change stx-fm-subagent to g++ compiler
  stx-snmp-helm/docker/stx-fm-subagent/Dockerfile.debian
  stx-snmp-helm/docker/stx-fm-subagent/Makefile
  stx-snmp-helm/docker/stx-fm-subagent/src/snmpActiveAlarms.c
  stx-snmp-helm/docker/stx-fm-subagent/src/snmpEventLogs.c
Due: none

Update stx-fm-subagent tag to use stx.11.0-v1.0.0
  helm-charts/custom/snmp-helm/snmp-helm/snmp/values.yaml
Due: none

Remove Critical,High and medium CVEs
  stx-snmp-helm/docker/stx-fm-subagent/Dockerfile.debian
Due: none

update stx-fm-subagent tag to use stx.11.0-v1.0.1
  helm-charts/custom/snmp-helm/snmp-helm/snmp/values.yaml
Due: none

Update .gitreview for r/stx.11.0
  .gitreview
Due: none

Update .gitreview for f/epoxy
  .gitreview
Due: none

Resolution of CVEs and compliance issues
  stx-snmp-helm/docker/stx-fm-subagent/Dockerfile.debian
Due: none

Update stx-fm-subagent tag to use stx.11.0-v1.0.2
  helm-charts/custom/snmp-helm/debian/deb_folder/changelog
  helm-charts/custom/snmp-helm/debian/deb_folder/copyright
  helm-charts/custom/snmp-helm/debian/meta_data.yaml
  helm-charts/custom/snmp-helm/snmp-helm/snmp/values.yaml
Due: none

Tox/Zuul: Do not use development mode
  python3-k8sapp-snmp/k8sapp_snmp/tox.ini
Due: k8app-snmp-armada-tox-py39, k8sapp-snmp-tox-pylint

Update snmp-armada-app for bullseye/trixie
  debian_bullseye_iso_image_std.inc
  debian_bullseye_pkg_dirs_std
  debian_trixie_iso_image_std.inc
  debian_trixie_pkg_dirs_std
  helm-charts/custom/snmp-helm/debian/all/deb_folder/changelog
  helm-charts/custom/snmp-helm/debian/all/deb_folder/control
  helm-charts/custom/snmp-helm/debian/all/deb_folder/copyright
  helm-charts/custom/snmp-helm/debian/all/deb_folder/rules
  helm-charts/custom/snmp-helm/debian/all/deb_folder/snmp-helm.install
  helm-charts/custom/snmp-helm/debian/all/deb_folder/source/format
  helm-charts/custom/snmp-helm/debian/all/meta_data.yaml
  python3-k8sapp-snmp/debian/all/deb_folder/changelog
  python3-k8sapp-snmp/debian/all/deb_folder/control
  python3-k8sapp-snmp/debian/all/deb_folder/copyright
  python3-k8sapp-snmp/debian/all/deb_folder/python3-k8sapp-snmp-wheels.install
  python3-k8sapp-snmp/debian/all/deb_folder/python3-k8sapp-snmp.install
  python3-k8sapp-snmp/debian/all/deb_folder/rules
  python3-k8sapp-snmp/debian/all/deb_folder/source/format
  python3-k8sapp-snmp/debian/all/meta_data.yaml
  stx-snmp-helm/debian/all/deb_folder/changelog
  stx-snmp-helm/debian/all/deb_folder/control
  stx-snmp-helm/debian/all/deb_folder/copyright
  stx-snmp-helm/debian/all/deb_folder/rules
  stx-snmp-helm/debian/all/deb_folder/source/format
  stx-snmp-helm/debian/all/deb_folder/stx-snmp-helm.install
  stx-snmp-helm/debian/all/meta_data.yaml
  stx-snmp-helm/debian/all/stx-snmp-helm-fm-subagent.stable_docker_image
  stx-snmp-helm/debian/all/stx-snmp-helm-fm-trap-subagent.stable_docker_image
  stx-snmp-helm/debian/all/stx-snmp-helm-snmp.stable_docker_image
Due: k8sapp-snmp-tox-pylint

Fix docker build
  stx-snmp-helm/debian/all/stx-snmp-helm-fm-subagent.stable_docker_image
  stx-snmp-helm/debian/all/stx-snmp-helm-fm-trap-subagent.stable_docker_image
  stx-snmp-helm/debian/all/stx-snmp-helm-snmp.stable_docker_image
Due: none

Remove RBD lifecycle
  python3-k8sapp-snmp/k8sapp_snmp/k8sapp_snmp/lifecycle/lifecycle_snmp.py
Due: k8app-snmp-armada-tox-py39, k8sapp-snmp-tox-pylint

Path conditions:
  k8app-snmp-armada-tox-py39: any of: python3-k8sapp-snmp/k8sapp_snmp/*
  k8sapp-snmp-tox-pylint: any of: python3-k8sapp-snmp/*
